@media (max-height: 360px) {
  body {
    margin-top: 15% !important;
  }
  .title {
    font-size: 48px !important;
  }
}

@media (max-width: 640px) {
  .title {
    font-size: 48px !important;
  }
}

body {
  background-image: url(" /assets/banner.jpg");
}
