@media (max-height: 360px) {
  body {
    margin-top: 15% !important;
  }
  .title {
    font-size: 48px !important;
  }
}

@media (max-width: 640px) {
  .title {
    font-size: 48px !important;
  }
}

body {
  background-image: url("/assets/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  margin-top: 18%;
}

body row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.title {
  font-weight: 200;
  font-size: 120px;
}
